* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background-color: lightgrey;
  background-repeat: no-repeat;
  background-size: cover;
}

.cabecera {
  max-width: 1000px;
  margin: auto;
  padding: 30px 0;
}

section h1 {
  font-family: fantasy;
  color: #00ffd0;
  font-size: 60px;
  text-align: center;
}

.content {
  font-family: fantasy;
  color: #00ffd0;
  text-align: center;
  font-size: 30px;
}

h1 {
  text-align: center;
  font-family: Calibri;
}
h2 {
  text-align: center;
  font-family: Calibri;
}

.FotoDeLaBici {
  height: 300px;
  width: 350px;
}

.caja {
  border: 1px solid black;
  text-align: center;
  padding: 10px;
}

#flex-container {
  display: flex;

  flex-wrap: wrap;
  justify-content: center;
}

.prueba {
  padding: 10px;
}

.fieldset{
  padding: 5px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

legend{
  font-size: 20px;
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#TituloForm{
  font-size: 25px;
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


